:root {
  --color-main: #5ab980;
  --color-main-light: #e6ffea;
  --color-sub: #00862d;
  --color-sub-light: #00bb3e;
  --color-sub-lighter: #00ff55;
  --color-text: #737373;
  --color-gray: #8b8b8b;
  --color-light: #e5ebe7;
  --color-light-gray: #767676;
  --color-bg: #f8fafd;
  --color-white: #fffefd;
  --color-white-light: #f3f3f3;
  --color-success: #359e64;
  --color-success-bg: #def8e8;
  --color-error: #fc4b0b;
  --color-error-bg: #fff2ee;
  --font-base: 'Poppins', arial, helvetica, 'Segoe UI', roboto, ubuntu, sans-serif;
  --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --generic-shadow: 1px 1px 5px #00000010;
  --generic-transition: all 0.3s ease-in-out;
}
