{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="singleBusiness my-md">
    <div class="container">
        <div class="layout">

            <div class="column column--2of3">
                <img class="singleBusiness__preview" src="{{ business.imageURL }}" alt="portfolio thumbnail" />
                <h2 class="singleBusiness__title">{{business.name}}</h2> 
                {% comment %} <h3 class="singleBusiness__subtitle">About the Business</h3> {% endcomment %}
                {% for category in business.categories.all %} 
                <span style="font-weight:bold; color:var(--color-sub)">
                    {{category.name}}
                </span>
                {% endfor %}
                <div class="singleBusiness__info">
                    {{business.description}}
                </div>
                <div class="comments">
                    <h3 class="singleBusiness__subtitle">Feedback</h3>
                    {% if reviews %}
                        <h5 class="Business--rating">
                            {{business.vote_ratio}}% Positive Feedback ({{business.vote_total}}
                            Vote{{business.vote_total|pluralize:"s"}})
                        </h5>

                        {% comment %} {% if request.user.profile.id in business.reviewers %}
                        <p>You have already submitted your review for this business</p> {% endcomment %}
                        {% if can_review %}
                            {% if request.user.profile == business.owner %}
                            <p>You cannot review your own work</p>

                            {% elif request.user.is_authenticated %}
                            <form class="form" action="{% url 'single-business' business.id %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form__field">
                                    <label for="formInput#textarea">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {% endfor %}
                                <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review</a>
                            {% endif %}
                        {% endif %}
                        <div class="commentList">
                            {% for review in business.review_set.all %}
                                {% if review.review_message %}
                                    <div class="comment">
                                        <a href="{% url 'user-profile' review.owner.id  %}">
                                            <img class="avatar avatar--md" src="{{review.owner.profile_image.url}}" alt="user" />
                                        </a>


                                        <div class="comment__details">
                                            <div>
                                            <a href="{% url 'user-profile' review.owner.id  %}"
                                                class="comment__author">{{review.owner.first_name}} {{review.owner.last_name}}</a>
                                                {% if review.review_rating == "up" %}
                                                    <span><img style="margin-left:5px; height:12px; width:auto;" src="{% static 'images/heart.png' %}"</span>
                                                {% else %}
                                                    <span><img style="margin-left:5px; height:15px; width:auto;"  src="{% static 'images/delete.png' %}"</span>
                                                {% endif %}
                                            </div
                                            <p class="comment__info">{{review.review_message|linebreaksbr}}</p>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h6>Business has no reviews. Leave a review</h6>
                        {% if can_review %}
                            {% if request.user.profile == business.owner %}
                            <p>You cannot review your own work</p>

                            {% elif request.user.is_authenticated %}
                            <form class="form" action="{% url 'single-business' business.id %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form__field">
                                    <label for="formInput#textarea">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {% endfor %}
                                <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="column column--1of3">
                <h4>Business Owner</h4>
                <a href="{% url 'user-profile' business.owner.id %}"
                class="singleBusiness__developer">Owner: {{business.owner.first_name}}
                </a>
                <br><br>
                <h4>Contact Us</h4>
                {% if business.phone_number %}
                    <p>Call now: <a href="tel:+{{business.phone_number}}">{{business.phone_number}}</a></p>
                {% endif %}
                    
                {% if business.website %}
                <p>Visi website: <a class="singleBusiness__liveLink" href="{{business.website}}" target="_blank"><i
                        class="im im-external-link"></i>Visit Website
                </a></p>        
                {% endif %}
                {% if business.email %}
                <p>Send email: <a class="singleBusiness__liveLink" href="{{business.email}}" target="_blank"><i
                        class="im im-external-link"></i>{{business.email}}
                </a></p>
                {% endif %}
                <br>
                {% if business.address %}
                <h4 class="singleBusiness__subtitle">Direction</h4>
                <div class="singleBusiness__toolStack">

                    <!-- Show full address -->
                        <p class="business__address">
                            {{ business.address.street_address }}
                            {% if business.address.street_address_2 %}, {{ business.address.street_address_2 }}{% endif %},
                            {{ business.address.city }}, {{ business.address.state }},
                            {{ business.address.country }}, {{ business.address.zip_code }}
                        </p>
                        <!-- Google Maps Embed -->
                        <iframe width="100%" height="350" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmiIETNGqkRACYfPT7L-GzLoB-PemvbKY
                                &q={{ business.address.full_address|urlencode }}">
                        </iframe>
                        <!-- Google Maps link -->
                        <a href="https://www.google.com/maps/dir/?api=1&destination={{ business.address.full_address|urlencode }}" target="_blank">
                            Get Directions
                        </a>
                    {% else %}
                        <p class="business__address">Address not available</p>
                    {% endif %}
                    <br>
                
                    <!-- Gallery -->
                    <h4>Business Gallery</h4>
                    <br>
                    <div class="business__gallery">
                        {% for image in business.images.all %}
                            <div class="gallery-item">
                                <img src="{{ image.image.url }}" alt="{{ business.name }} image">
                            </div>
                        {% empty %}
                            <p>No additional images</p>
                        {% endfor %}
                    </div>
                    
                    <!-- Hover preview container -->
                    <div id="hover-preview">
                        <img id="hover-img" src="" alt="Preview">
                    </div>
                    
                </div>
             

            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}