{% extends "admin_main.html" %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2><span>All Users</span></h2>
            </div>

            <div class="hero-section__search">

                <form id="searchForm" class="form" action="{% url 'all-users' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search Users </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search by username" />
                            <select style="margin-left:10px; padding:14px; border-radius:5px; border:none" name="role">
                                <option value="">All</option>
                                <option value="admin">Admins</option>
                                <option value="user">Users</option>
                              </select>
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>

            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="devlist">
        <div class="container">
            <div class="grid grid--three">

                {% for profile in profiles %}
                <div class="column card">
                    <div class="dev">
                        <a href="{% url 'user-profile' profile.id %}" class="card__body">
                            <div class="dev__profile">
                                <img class="avatar avatar--md" src="{{ profile.imageURL }}" alt="image" />
                                <div class="dev__meta">
                                    <h3>{{profile.first_name}} {{profile.last_name}}</h3>
                                    <h5>{{profile.username|slice:"60"}}</h5>
                                    {% if profile.is_admin %}
                                        <small>Admin</small>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="dev__info">{{profile.bio|slice:"150"}}</p>
                            <div class="dev__skills">

                                {% for business in profile.business_set.all|slice:"5" %}
                                <span class="tag tag--pill tag--main">
                                    <small>{{business.name}}</small>
                                </span>
                                {% endfor %}
             
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
</main>


{% endblock %}